<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Homepage</title>
<style type="text/css">
<!--
.style1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: bold;
	color: #990000;
}
.style2 {font-family: "Times New Roman", Times, serif; font-size: 16px; font-weight: bold; color: #990000; }
-->
</style>
</head>

<body style="background: #79A6CF">
<table width="1243" border="1">
  <tr>
    <td colspan="6"><img src="static/images/123.JPG" width="1500" height="305" /></td>
  </tr>
  <tr>
    <td>
      <div align="center"><a href="{{ url_for('home') }}">Home</a></div>
    </td>
    <td>
      <div align="center"><a href="{{ url_for('about') }}">About Us</a></div>
    </td>
    <td>
      <div align="center"><a href="{{ url_for('service') }}">Services</a></div>
    </td>
    <td>
      <div align="center"><a href="{{ url_for('contact') }}">Contact Us</a></div>
    </td>
    <td>
      <div align="center"><a href="{{ url_for('register') }}">Register</a></div>
    </td>
    <td>
      <div align="center"><a href="{{ url_for('login') }}">Login</a></div>
   </td>
  </tr>
  <tr>
    <td colspan="6"><div align="center" class="style1">Welcome to Society Grivence Facilitation Center Website </div></td>
  </tr>
  <tr>
    <td colspan="6"><p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p></td>
  </tr>
  <tr>
    <td colspan="6"><div align="center" class="style2">Copyrights @ 2022 Reserved</div></td>
  </tr>
</table>
</body>
</html>
