<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Homepage</title>
<style type="text/css">
<!--
.style1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: bold;
	color: #990000;
}
.style2 {font-family: "Times New Roman", Times, serif; font-size: 16px; font-weight: bold; color: #990000; }
-->
</style>
</head>

<body style="background: #79A6CF">
<table width="1243" border="1">
  <tr>
    <td colspan="6"><img src="static/images/123.JPG" width="1500" height="305" /></td>
  </tr>
  <tr>
   <td>
      <div align="center"><a href="{{ url_for('home') }}">Home</a></div>
    </td>
    <td>
      <div align="center"><a href="{{ url_for('about') }}">About Us</a></div>
    </td>
    <td>
      <div align="center"><a href="{{ url_for('service') }}">Services</a></div>
    </td>
    <td>
      <div align="center"><a href="{{ url_for('contact') }}">Contact Us</a></div>
    </td>
    <td>
      <div align="center"><a href="{{ url_for('register') }}">Register</a></div>
    </td>
    <td>
      <div align="center"><a href="{{ url_for('login') }}">Login</a></div>
   </td>
  </tr>
  <tr>
    <td colspan="6"><div align="center" class="style1">Welcome to Society Grivence Facilitation Center Website </div></td>
  </tr>
  <tr>

      <table width="1500" border="1">
        <tr>
          <td width="1000"><p>The website developed   to make the new system extremely user friendly The proposed system implements a  new citizen facilitation process with corporation details gathering and  compliant raising technique. Proposed system User can log on the system and  they can share take photos regarding the complaints about the road facility,  drainage, and water and electricity problems. The complaints will be informed  to the ward member and councilor with the pictures. The citizen can give priority  about the complaint. The contributed fund details are enclosed in the website.  So every citizen can view and know about their locality information. The proposed  system has been designed to eliminate the major disadvantages of the existing  system.<br />
            The  proposed citizen complaint system improves the compliant processing system with  active alert and conditional complaint forwarding process to the higher  authority. The application provides fast and reliable system to send complaints  and view funds and other details of their locality.</p>
              <p>&nbsp;</p>
            <p><strong>Features:</strong></p>
            <p>&#61623; large volumes of data can be stored with ease. <br />
              &#61623; Security is assured. <br />
              &#61623; Proposed system which provide easiest way of raising complaints <br />
              &#61623; every citizen can view and know about their locality information <br />
              &#61623; Maintenance of file is flexible.<br />
              &#61623; Records stored are updated now  and then.</p></td>
        </tr>
      </table>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p></td>
  </tr>
  <tr>
    <td colspan="6"><div align="center" class="style2">Copyrights @ 2022 Reserved</div></td>
  </tr>
</table>
</body>
</html>
